{% extends 'admin/deshboard.html' %}
{% load static %}

{% block content %}
<style>
    .dark-font {
        color: #000000;
    }

    .form-group {
        position: relative;
    }

    .form-control {
        padding-right: 80px;
    }

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card-header .btn {
        margin-left: 10px;
    }

    .image-preview {
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 150px;
        max-height: 150px;
        border-radius: 10px;
        padding: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }
</style>

<div class="content-body dark-font">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Edit Doctor Banner</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "admin_dashboard" %}">Admin</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Doctor Banner Edit</a></li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-xxl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Doctor Banner Edit</h4>
                        <div>
                            <a href="{% url "dr_banner_list" %}"><button type="button" class="btn btn-rounded btn-primary ml-auto"><span class="btn-icon-left text-primary"><i class="fa fa-list"></i></span>List</button></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <!-- Edit Doctor Banner Form -->
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="form-group row">
                                    <label for="doctor" class="col-sm-2 col-form-label">Doctor</label>
                                    <div class="col-sm-10">
                                        <select name="doctor" id="doctor" class="form-control" required>
                                            <option value="">Select Doctor</option>
                                            {% for doctor in doctors_list %}
                                                <option value="{{ doctor.id }}" {% if doctor.id == banner.doctor_id %}selected{% endif %}>{{ doctor.dr_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="banner">Banner Image<span class="text-danger">*</span> </label></br>
                                    <div class="col-sm-10">
                                        <img src="{% if banner.banner %}{{ banner.banner.url }}{% else %}{% static 'images/default_image.png' %}{% endif %}" id="profile_picture_preview" class="image-preview" alt="Banner Preview"/>
                                        <input type="file" class="form-control" id="banner" name="banner" accept="image/*" onchange="previewImage(event, 'profile_picture_preview')">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="link" class="col-sm-2 col-form-label">Banner Link</label>
                                    <div class="col-sm-10">
                                        <input type="url" name="link" id="link" class="form-control" value="{{ banner.link }}">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="position" class="col-sm-2 col-form-label">Position</label>
                                    <div class="col-sm-10">
                                        <select name="position" id="position" class="form-control">
                                            <option value="T" {% if banner.position == 'T' %}selected{% endif %}>Top</option>
                                            <option value="B" {% if banner.position == 'B' %}selected{% endif %}>Bottom</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="status" class="col-sm-2 col-form-label">Status</label>
                                    <div class="col-sm-10">
                                        <select name="status" id="status" class="form-control">
                                            <option value="1" {% if banner.status == 1 %}selected{% endif %}>Active</option>
                                            <option value="0" {% if banner.status == 0 %}selected{% endif %}>Inactive</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                        <a href="{% url 'dr_banner_list' %}" class="btn btn-secondary">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function previewImage(event, previewId) {
    const output = document.getElementById(previewId);
    const file = event.target.files[0];

    if (file) {
        output.src = URL.createObjectURL(file);
        output.onload = function() {
            URL.revokeObjectURL(output.src); 
        };
    } else {
        output.src = "{% static 'images/default_image.png' %}";
    }
}
</script>

{% endblock content %}
