{% extends 'master.html' %}
{% load static %}

{% block content %}
<style>
    .dark-font {
        color: #454545;
        /* Dark color for text, adjustable as needed */
    }
</style>

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Doctor Specialist Categories</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Specialist Categories</a></li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header dark-font">
                        <h4 class="card-title">Specialist Categories</h4>
                        <a href="/admin/specialist/create/">
                            <button type="button" class="btn btn-rounded btn-primary ml-auto">
                                <span class="btn-icon-left text-primary">
                                    <i class="fa fa-plus"></i>
                                </span>
                                New
                            </button>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="dark-font">
                                        <th>ID</th>
                                        <th>Category Name</th>
                                        <th>Category Image</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for category in specialist_categories %}
                                    <tr class="dark-font">
                                        <td>{{ category.id }}</td>
                                        <td>{{ category.category_name }}</td>
                                        <td>
                                            {% if category.category_image %}
                                                <img src="{{ category.category_image.url }}" alt="Category Image" width="50">
                                            {% else %}
                                                No image
                                            {% endif %}
                                        </td>
                                        <td><span class="badge {% if category.status == 1 %}badge-success{% else %}badge-danger{% endif %}">{{ category.get_status_display|capfirst }}</span></td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-primary" type="button"
                                                    id="actionDropdown{{ category.id }}" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                    aria-labelledby="actionDropdown{{ category.id }}">
                                                    <a class="dropdown-item" href="/admin/specialist/{{category.id}}/edit/">Edit</a>
                                                    <a class="dropdown-item" href="/admin/specialist/{{category.id}}/delete/">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="5" class="text-center">No categories found.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
