{% extends 'admin/deshboard.html' %}
{% load static %}

{% block content %}
<style>
    .dark-font {
        color: #454545;
    }

    .form-group {
        position: relative;
    }

    .badge-inside {
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
        background-color: #ffaa16;
        color: rgb(31, 29, 29);
    }

    .form-control {
        padding-right: 80px;
    }

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card-header .btn {
        margin-left: 10px;
    }

    .blog-image {
        max-width: 150px;
        width: 150px;
        height: 150px;
        height: auto;
        margin-right: 20px;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    .image-container {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .image-label {
        margin-right: 10px;
        min-width: 120px;
        text-align: right;
    }
</style>

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                    <span class="ml-1">Create Blog</span>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "admin_dashboard" %}">Admin</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Create Blog</a></li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-xxl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Create Blog</h4>
                        <div>
                            <a href="{% url "blogs_list" %}"><button type="button" class="btn btn-rounded btn-primary ml-auto"><span class="btn-icon-left text-primary"><i class="fa fa-list"></i></span>List</button></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <!-- Specialist Category Form -->
                            <form method="POST" accept="" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Title</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="title" placeholder="Input Title" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="video">Video URL</label>
                                    <div class="col-sm-10">
                                        <input type="url" class="form-control" name="video" placeholder="Input Video URL ( Optional )" id="video">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="description">Description</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" id="description" rows="5" name="description" placeholder="Input Description" required></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Blog Image</label>
                                    <div class="col-sm-10">
                                        <img id="blog-image-preview" src="{% static 'images/default_image.png' %}" alt="Blog Image" class="blog-image">
                                    </div>
                                    <div class="col-sm-10 ml-auto">
                                        <input type="file" class="form-control" id="blog-image-input" name="image">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Status</label>
                                    <div class="col-sm-10">
                                        <select name="status" class="form-control" id="status" required>
                                        <option value="1">Active</option>
                                        <option value="0">Inactive</option>
                                    </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="offset-sm-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <a href="{% url 'blogs_list' %}" class="btn btn-secondary">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('blog-image-input').addEventListener('change', function(event) {
        const file = event.target.files[0];
        const reader = new FileReader();
        const defaultImage = "{% static 'images/default_image.png' %}";
        
        reader.onload = function(e) {
            document.getElementById('blog-image-preview').src = e.target.result;
        };
        
        if (file) {
            reader.readAsDataURL(file);
        } else {
            document.getElementById('blog-image-preview').src = defaultImage;
        }
    });
</script>

{% endblock content %}
