{% extends 'admin/master.html' %}
{% load static %}

{% block content %}
        <!--********************************** Content body start  ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="dashboard-header">Dashboard</div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div style="background-color: #0073b7;" class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">Total Customers </div>
                                    <div class="stat-digit">{{ customers_count }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div style="background-color: #001f3f;" class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">Total Doctors</div>
                                    <div class="stat-digit"> {{ doctors_count }}</div>
                                </div>
                                <!-- <div class="progress">
                                    <div class="progress-bar progress-bar-warning w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div style="background-color: #3d9970;" class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">Total Hospitals</div>
                                    <div class="stat-digit">{{ hospitals_count }}</div>
                                </div>
                                <!-- <div class="progress">
                                    <div class="progress-bar progress-bar-danger w-65" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div style="background-color: #d81b60;" class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">Total Users</div>
                                    <div class="stat-digit">{{ total_users }}</div>
                                </div>
                                <!-- <div class="progress">
                                    <div class="progress-bar progress-bar-danger w-65" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div style="background-color: #0073b7;" class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">Total Laboratories</div>
                                    <div class="stat-digit">{{ labs_count }}</div>
                                </div>
                                <!-- <div class="progress">
                                    <div class="progress-bar progress-bar-danger w-65" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div style="background-color: #ff851b;" class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">Pending Pharmacy Orders</div>
                                    <div class="stat-digit">0</div>
                                </div>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Bar Chart</h4>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="barChart_2"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--********************************** Content body end  ***********************************-->

    <!-- Required vendors -->
    <script src="{% static './vendor/global/global.min.js' %}"></script>
    <script src="{% static './js/quixnav-init.js' %}"></script>
    <script src="{% static './js/custom.min.js' %}"></script>
    <script src="{% static './js/plugins-init/chartjs-init.js' %}"></script>
    <script src="{% static './vendor/chart.js/Chart.bundle.min.js' %}"></script>
    {% endblock content %}