{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>H2H | Doctor Register</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static './images/favicon.png' %}">
    <link href="{% static './vendor/jquery-steps/css/jquery.steps.css' %}" rel="stylesheet">
    <link href="{% static './css/style.css' %}" rel="stylesheet">

    <style>
        .h-100 {
            background: url("{% static './images/bg2.jpg' %}") no-repeat center center fixed;
            background-size: cover;
        }

        .authincation-content {
            margin-top: 80px;
            margin-bottom: 80px;
        }

        body {
            color: black;
        }
    </style>

</head>

<body class="h-100">
    <div class="authincation h-100">
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-8">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h2 class="text-center mb-4">Health2Home</h2>
                                    <h4 class="text-center mb-4">Doctor Register</h4>
                                    <div class="card-body">
                                        <div class="form-validation">
                                            <form class="form-valide" action="" method="post">
                                                {% csrf_token %}
                                                
                                                <!-- Personal Information -->
                                                <h3 class="mb-1">Personal Information</h3>
                                                <div class="form-group row">
                                                    <div class="col-lg-6">
                                                      <label class="col-form-label" for="val-name">Full Name
                                                          <span class="text-danger">*</span>
                                                      </label>
                                                      <input type="text" class="form-control" id="val-name" name="val-name" placeholder="Enter a full name..">
                                                  </div>
                                                    <div class="col-lg-6">
                                                        <label class="col-form-label" for="val-username">Username
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <input type="text" class="form-control" id="val-username" name="val-username" placeholder="Enter a username..">
                                                    </div>
                                                    <div class="col-lg-6">
                                                      <label class="col-form-label" for="val-gender">Gender
                                                          <span class="text-danger">*</span>
                                                      </label>
                                                      <select class="form-control" id="val-gender" name="val-gender">
                                                          <option value="">Please select</option>
                                                          <option value="Male">Male</option>
                                                          <option value="female">Female</option>
                                                          <option value="other">Other</option>
                                                      </select>
                                                    </div>
                                                  <div class="col-lg-6">
                                                    <label class="col-form-label" for="val-dob">Date of Birthday
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input type="date" class="form-control" id="val-dob" name="val-dob">
                                                  </div>
                                                    <div class="col-lg-6">
                                                      <label class="col-form-label" for="val-phoneus">Phone
                                                          <span class="text-danger">*</span>
                                                      </label>
                                                      <input type="text" class="form-control" id="val-phone" name="val-phone" placeholder="Enter phone number">
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label class="col-form-label" for="val-email">Email
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <input type="text" class="form-control" id="val-email"
                                                            name="val-email" placeholder="Your valid email..">
                                                    </div>

                                                    <div class="col-lg-6">
                                                      <label class="col-form-label" for="val-password">Password
                                                          <span class="text-danger">*</span>
                                                      </label>
                                                      <input type="password" class="form-control" id="val-password"
                                                          name="val-password" placeholder="Choose a safe one..">
                                                  </div>
                                                  <div class="col-lg-6">
                                                    <label class="col-form-label" for="val-currency">Consultation Fees
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" id="val-currency"
                                                        name="val-currency" placeholder="Enter consultation fees">
                                                </div>
                                                </div>

                                                <!-- Professional Information -->
                                                <h3 class="mb-1 mt-5">Professional Information</h3>
                                                <div class="form-group row">
                                                  <div class="col-lg-6">
                                                    <label class="col-form-label" for="val_med_license_no">Medical License Number
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" id="val_med_license_no" name="val_med_license_no" placeholder="Medical License Number..">
                                                  </div>
                                                  <div class="col-lg-6">
                                                    <label class="col-form-label" for="val-specialization">Specialization
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <select class="form-control" id="val-specialization" name="val-specialization">
                                                      <option value="">Please select</option>
                                                      <option value="1" >General</option>
                                                      <option value="2" >Respiratory</option>
                                                      <option value="3" >Gastrointestinal</option>
                                                      <option value="4" >Cardiovascular</option>
                                                      <option value="5" >Neurological</option>
                                                      <option value="6" >Musculoskeletal</option>
                                                      <option value="7" >Dermatological</option>
                                                      <option value="8" >Urinary</option>
                                                      <option value="9" >Reproductive</option>
                                                      <option value="10" >Psychological</option>
                                                      <option value="11" >Other</option>
                                                    </select>
                                                  </div>
                                                  <div class="col-lg-6">
                                                    <label class="col-form-label" for="experience">Experience
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" id="experience" name="experience" placeholder="Experience">
                                                </div>
                                                </div>

                                                <!-- Educational Background -->
                                                <h3 class="mb-1 mt-5">Educational Background</h3>
                                                <div class="form-group row">
                                                    <div class="col-lg-6">
                                                      <label class="col-form-label" for="degrees">Degrees
                                                          <span class="text-danger">*</span>
                                                      </label>
                                                      <input type="text" class="form-control" id="degrees" name="degrees" placeholder="Degrees">
                                                    </div>

                                                    <div class="col-lg-6">
                                                      <label class="col-form-label" for="institutions">Institutions
                                                          <span class="text-danger">*</span>
                                                      </label>
                                                      <input type="text" class="form-control" id="institutions" name="institutions" placeholder="Institutions">
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <label class="col-form-label" for="graduation_years">Graduation Years
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <input type="text" class="form-control" id="graduation_years" name="graduation_years" placeholder="Graduation Years">
                                                    </div>

                                                    <div class="col-lg-6">
                                                      <label class="col-form-label" for="certification_fellowship">Certifications and Fellowships
                                                          <span class="text-danger">*</span>
                                                      </label>
                                                      <input type="text" class="form-control" id="certification_fellowship" name="certification_fellowship" placeholder="Certifications and Fellowships">
                                                    </div>
                                                </div>

                                                <!-- Work Information -->
                                                <h3 class="mb-1 mt-5">Work Information</h3>
                                                <div class="form-group row">
                                                    <div class="col-lg-6">
                                                      <label class="col-form-label" for="clinic_type">Clinic Type
                                                          <span class="text-danger">*</span>
                                                      </label>
                                                      <select class="form-control" id="clinic_type" name="clinic_type">
                                                          <option value="">Select Clinic Type</option>
                                                          <option value="1" >Vet care</option>
                                                          <option value="2" >Infertility clinic</option>
                                                          <option value="3" >Primary Care Clinic</option>
                                                      </select>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label class="col-form-label" for="current_work_address">Current Work Address
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <input type="text" class="form-control" id="current_work_address" name="current_work_address" placeholder="Current Work Address">
                                                    </div>
                                                    <div class="col-lg-6">
                                                      <label class="col-form-label" for="clinic_name">Clinic/s Name
                                                          <span class="text-danger">*</span>
                                                      </label>
                                                      <input type="text" class="form-control" id="clinic_name" name="clinic_name" placeholder="Clinic/s Name">
                                                    </div>
                                                    <div class="col-lg-6">
                                                      <label class="col-form-label" for="work_number">Work Number
                                                          <span class="text-danger">*</span>
                                                      </label>
                                                      <input type="text" class="form-control" id="work_number" name="work_number" placeholder="Work Number">
                                                    </div>
                                                    <div class="col-lg-6">
                                                      <label class="col-form-label" for="work_email_address">Work Email Address
                                                          <span class="text-danger">*</span>
                                                      </label>
                                                      <input type="text" class="form-control" id="work_email_address" name="work_email_address" placeholder="Work Email Address">
                                                    </div>
                                                    <div class="col-lg-6">
                                                      <label class="col-form-label" for="open_time">Open Time
                                                          <span class="text-danger">*</span>
                                                      </label>
                                                      <input type="time" class="form-control" id="open_time" name="open_time">
                                                    </div>
                                                    <div class="col-lg-6">
                                                      <label class="col-form-label" for="close_time">Close Time
                                                          <span class="text-danger">*</span>
                                                      </label>
                                                      <input type="time" class="form-control" id="close_time" name="close_time">
                                                    </div>

                                                
                                                    
                                                    <div class="col-lg-6">
                                                        <label class="col-form-label" style="margin-top: 35px;"> Available for Virtual Consultations
                                                        <input type="checkbox" class="css-control-input" id="virtual_consultations" name="virtual_consultations">&nbsp;&nbsp;&nbsp;
                                                        <span class="text-danger">*</span>
                                                        </label>
                                                    </div>

                                                    <div class="col-lg-12">
                                                      <label class="col-form-label" for="short_biography">Short Biography or Professional Statement
                                                        <span class="text-danger">*</span>
                                                      </label>
                                                      <textarea class="form-control" id="short_biography" name="short_biography" rows="3" cols="12" placeholder="Short Biography or Professional Statement"></textarea>
                                                    </div>
                                                </div>

                                                <!-- Payment Information -->
                                                <h3 class="mb-1 mt-5">Payment Information</h3>
                                                <div class="form-group row">
                                                    <div class="col-lg-6">
                                                        <label class="col-form-label" for="beneficiary_name">Beneficiary Name
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <input type="text" class="form-control" id="beneficiary_name" name="beneficiary_name" placeholder="Beneficiary Name..">
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label class="col-form-label" for="bank_name">Bank Name
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <input type="text" class="form-control" id="bank_name" name="bank_name" placeholder="Bank Name">
                                                    </div>
                                                    <div class="col-lg-6">
                                                      <label class="col-form-label" for="bank_account_number">Bank Account Number
                                                          <span class="text-danger">*</span>
                                                      </label>
                                                      <input type="text" class="form-control" id="bank_account_number" name="bank_account_number" placeholder="Bank Account Number">
                                                  </div>
                                                  <div class="col-lg-6">
                                                    <label class="col-form-label" for="IFSC_code">IFSC Code
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" id="IFSC_code" name="IFSC_code" placeholder="IFSC Code">
                                                </div>
                                                </div>

                                                <!-- Document Upload -->
                                                <h3 class="mb-1 mt-5">Document Upload</h3>
                                                <div class="form-group row">
                                                  <div class="col-lg-6">
                                                    <label class="col-form-label" for="profile_picture">Profile Picture
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input type="file" class="form-control" id="profile_picture" name="profile_picture">
                                                  </div>
                                                  <div class="col-lg-6">
                                                    <label class="col-form-label" for="resume">Resume
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input type="file" class="form-control" id="resume" name="resume">
                                                  </div>
                                                  <div class="col-lg-6">
                                                    <label class="col-form-label" for="medical_license_document">Medical License Document
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input type="file" class="form-control" id="medical_license_document" name="medical_license_document">
                                                  </div>
                                                  <div class="col-lg-6">
                                                    <label class="col-form-label" for="certification_documents">Certification Documents
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input type="file" class="form-control" id="certification_documents" name="certification_documents">
                                                  </div>
                                                  <div class="col-lg-6">
                                                    <label class="col-form-label" for="other_relevant_rocuments">Other Relevant Documents
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input type="file" class="form-control" id="other_relevant_rocuments" name="other_relevant_rocuments">
                                                  </div>
                                                </div>

                                                <!-- Terms & Conditions -->
                                                <div class="col-lg-6">
                                                  <label class="col-form-label" style="margin-top: 35px;"> Terms & Conditions
                                                    <span class="text-danger">*</span>  &nbsp;&nbsp;&nbsp;
                                                    <input type="checkbox" id="val-terms" name="val-terms">
                                                  </label>
                                                </div>

                                                <div class="form-group row">
                                                  <div class="col-md-12 text-center">
                                                      <button style="background-color: #77d5cb; border-color: #77d5cb;" type="submit" class="btn btn-primary btn-block">Register</button>
                                                  </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--**********************************   Scripts ***********************************-->
    <!-- Required vendors -->
    <script src="{% static './vendor/global/global.min.js' %}"></script>
    <script src="{% static './js/quixnav-init.js' %}"></script>
    <script src="{% static './js/custom.min.js' %}"></script>
    <script src="{% static './vendor/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static './js/plugins-init/jquery.validate-init.js' %}"></script>
    <script src="{% static './vendor/jquery-steps/build/jquery.steps.min.js' %}"></script>
    <script src="{% static './js/plugins-init/jquery-steps-init.js' %}"></script>
</body>

</html>
