{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>H2H | Doctor | Login</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static './images/favicon.png' %}">
    <link href="{% static './css/style.css' %}" rel="stylesheet">
    <link href="{% static './vendor/jquery-steps/css/jquery.steps.css' %}" rel="stylesheet">
    <style>
        .h-100 {
            background: url("{% static './images/bg2.jpg' %}") no-repeat center center fixed;
            background-size: cover;
        }

        .authincation-content {
            margin-top: 80px;
            margin-bottom: 80px;
        }

        body {
            color: black;
        }

        .password-toggle {
            cursor: pointer;
        }
    </style>
</head>

<body class="h-100">
    <div class="authincation h-100">
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h2 class="text-center mb-4">Health2Home</h2>
                                    <h4 class="text-center mb-4">Doctor | Login</h4>
                                    <div class="card-body">
                                        <form class="form-valide" action="" method="post">
                                            {% csrf_token %}

                                            <div class="form-group">
                                                <label for="email">Email <span class="text-danger">*</span></label>
                                                <input type="email" class="form-control col-12" id="email" name="email"
                                                    placeholder="Enter your email">
                                            </div>

                                            <div class="form-group position-relative">
                                                <label for="password">Password <span
                                                        class="text-danger">*</span></label>
                                                <input type="password" class="form-control col-12" id="password"
                                                    name="password" placeholder="Enter your password">
                                                <span class="position-absolute password-toggle"
                                                    style="right: 15px; top: 40px;">
                                                    <i class="fa fa-eye" id="toggle-password"></i>
                                                </span>
                                            </div>

                                            <div class="form-group text-center">
                                                <button type="submit" class="btn btn-primary btn-block"
                                                    style="background-color: #77d5cb; border-color: #77d5cb;">Login</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Required vendors -->
    <script src="{% static './vendor/global/global.min.js' %}"></script>
    <script src="{% static './js/quixnav-init.js' %}"></script>
    <script src="{% static './js/custom.min.js' %}"></script>
    <script src="{% static './vendor/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static './js/plugins-init/jquery.validate-init.js' %}"></script>
    <script src="{% static './vendor/jquery-steps/build/jquery.steps.min.js' %}"></script>
    <script src="{% static './js/plugins-init/jquery-steps-init.js' %}"></script>
    <script>
        document.getElementById('toggle-password').addEventListener('click', function () {
            const passwordField = document.getElementById('password');
            const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordField.setAttribute('type', type);
            this.classList.toggle('fa-eye');
            this.classList.toggle('fa-eye-slash');
        });
    </script>
</body>

</html>