{% extends 'admin/master.html' %}
{% load static %}

{% block content %}
<style>
    .dark-font {
        color: #000000;
    }

    .form-group {
        position: relative;
    }

    .badge-inside {
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
        background-color: #ffaa16;
        color: rgb(31, 29, 29);
    }

    .form-control {
        padding-right: 80px;
    }

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card-header .btn {
        margin-left: 10px;
    }

    .image-preview {
        width: 150px;
        height: 150px;
        border: 1px solid #cccccc;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f9f9f9;
        margin-top: 10px;
    }

    .image-preview img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
</style>

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                    <span class="ml-1">Show Customer</span>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "admin_dashboard" %}">Admin</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Show Customer</a></li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-xxl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Show Customer</h4>
                        <div>
                            <a href="{% url 'customers_list' %}">
                                <button title="list" type="button" class="btn btn-primary">
                                    List
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="name" value="{{ customer.customer_name }}" placeholder="Enter Name" required readonly>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" name="email" value="{{ customer.user.email }}" placeholder="Enter Email" required readonly>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Contact Number</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="contact_number" value="{{ customer.phone_number }}" placeholder="Enter Contact Number" required readonly>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Profile Picture</label>
                                    <div class="col-sm-10">
                                        <div class="image-preview mb-3" id="imagePreview">
                                            {% if customer.profile_picture %}
                                                <img src="{{ customer.profile_picture.url }}" alt="Profile Image" style="width: 150px; height: 150px; object-fit: cover; border-radius: 8px;">
                                            {% else %}
                                                <img src="{% static 'images/avatar.png' %}" alt="Default Image" style="width: 150px; height: 150px; object-fit: cover; border-radius: 8px;">
                                            {% endif %}
                                        </div>
                                      
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Status</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="status" value="{{customer.get_status_display}}" placeholder="Enter status" required readonly>
                                    </div>
                                </div>

                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('profilePictureInput').addEventListener('change', function (event) {
        const previewContainer = document.getElementById('imagePreview');
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                previewContainer.innerHTML = `<img src="${e.target.result}" alt="Image Preview" style="width: 150px; height: 150px; object-fit: cover; border-radius: 8px;">`;
            };
            reader.readAsDataURL(file);
        }
    });
</script>
{% endblock content %}
