{% extends 'master.html' %}
{% load static %}

{% block content %}
<style>
    .dark-font {
        color: #454545;
        /* Dark color for text, adjustable as needed */
    }
</style>

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                    <span class="ml-1">Hospital Facilities</span>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Table</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Hospital Facilities</a></li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header dark-font">
                        <h4 class="card-title">Hospital Facilities</h4>
                        <a href="/admin/hospital/facility/create/">
                            <button type="button" class="btn btn-rounded btn-primary ml-auto">
                                <span class="btn-icon-left text-primary">
                                    <i class="fa fa-plus"></i>
                                </span>
                                New
                            </button>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="dark-font">
                                        <th>ID</th>
                                        <th>Hospital</th>
                                        <th>Facility Name</th>
                                        <th>Facility Icon</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for facility in hospital_facilities %}
                                    <tr class="dark-font">
                                        <td>{{ facility.id }}</td>
                                        <td>{{ facility.hospital.hospital_name }}</td>
                                        <td>{{ facility.facility }}</td>
                                        <td>
                                            {% if facility.icon %}
                                                <img src="{{ facility.icon.url }}" alt="Facility Icon" width="50">
                                            {% else %}
                                                <img src="{% static 'images/default_image.png' %}" alt="Facility Icon" width="50">
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-primary" type="button"
                                                    id="actionDropdown{{ facility.id }}" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                    aria-labelledby="actionDropdown{{ facility.id }}">
                                                    <a class="dropdown-item" href="/admin/hospital/facility/{{facility.id}}/edit/">Edit</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="6" class="text-center">No facilities found.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
