{% extends 'master.html' %}
{% load static %}

{% block content %}

<style>
    .dark-font {
        color: #454545;
        /* Dark color for text, adjustable as needed */
    }
</style>


<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                    <span class="ml-1">Insurances List</span>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Table</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Insurances List</a></li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header dark-font">
                        <h4 class="card-title">Insurances List</h4>
                        <a href="/admin/insurance/create/">
                            <button type="button" class="btn btn-rounded btn-primary ml-auto">
                                <span class="btn-icon-left text-primary">
                                    <i class="fa fa-plus"></i>
                                </span>
                                New
                            </button>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="dark-font">
                                        <th>ID</th>
                                        <th>Insurance Name</th>
                                        <th>Insurance Logo</th>
                                        <th>Insurance Link</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for insurance in insurances %}
                                    <tr class="dark-font">
                                        <td>{{ insurance.id }}</td>
                                        <td>{{ insurance.insurance_name }}</td>
                                        <td>
                                            {% if insurance.insurance_logo %}
                                                <img src="{{ insurance.insurance_logo.url }}" alt="Insurance Logo" width="70">
                                            {% else %}
                                                <img src="{% static 'images/default_image.png' %}" alt="Insurance Logo" width="70">
                                            {% endif %}
                                        </td>
                                        <td><a href="{{ insurance.insurance_link }}" target="_blank">{{ insurance.insurance_link|truncatechars:70 }}</a></td>
                                        <td>
                                            {% if insurance.status == 1 %}
                                                <span class="badge badge-success">Active</span>
                                            {% else %}
                                                <span class="badge badge-danger">Inactive</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-primary" type="button"
                                                    id="actionDropdown{{ insurance.id }}" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                    aria-labelledby="actionDropdown{{ insurance.id }}">
                                                    <a class="dropdown-item" href="/admin/insurance/{{insurance.id}}/edit/">Edit</a>
                                                    <a class="dropdown-item" href="/admin/insurance/{{insurance.id}}/delete/">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="6" class="text-center">No insurances found.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
