{% extends 'master.html' %}
{% load static %}

{% block content %}
<style>
    .dark-font {
        color: #454545; /* Dark color for text, adjustable as needed */
    }
</style>

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                    <span class="ml-1">Bed List</span>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Table</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Bed List</a></li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header dark-font">
                        <h4 class="card-title">Bed Details</h4>
                        <a href="/admin/hospital/ward/bed/create/"><button type="button" class="btn btn-rounded btn-primary ml-auto"><span class="btn-icon-left text-primary"><i class="fa fa-plus"></i></span>New</button></a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="dark-font">
                                        <th>ID</th>
                                        <th>Hospital</th>
                                        <th>Ward</th>
                                        <th>Bed_Type</th>
                                        <th>Bed_Count</th>
                                        <th>Bed_Price</th>
                                        <th>Sell_Price</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for bed in bed_list %}
                                    <tr class="dark-font">
                                        <td>{{ bed.id }}</td>
                                        <td>{{ bed.hospital.hospital_name }}</td>
                                        <td>{{ bed.ward.ward_name|capfirst }}</td>
                                        <td>{{ bed.bed_type|capfirst }}</td>
                                        <td>{{ bed.bed_count }}</td>
                                        <td>{{ bed.sale_bed_price }}</td>
                                        <td>{{ bed.sale_price }}</td>
                                        <td><span class="badge badge-success">{{ bed.get_status_display|capfirst }}</span></td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-primary" type="button" id="actionDropdown{{ bed.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="actionDropdown{{ bed.id }}">
                                                    <a class="dropdown-item" href="/admin/hospital/ward/bed/{{bed.id}}/edit/">Edit</a>
                                                    <a class="dropdown-item" href="/admin/hospital/ward/bed/{{bed.id}}/delete/">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
